<header class="flex justify-between shadow py-5 px-20 items-center">
  <div class="">Ubom</div>

  <ul class="flex items-center gap-x-4">
    <li>
      <a [routerLink]="['']">Accueil</a>
    </li>
    @if (authService.isAuthenticated()) {
      <li><a [routerLink]="['/product/create']">Nouveau produit</a></li>
      <li>
        <button class="btn" (click)="logout()">Logout</button>
      </li>
    } @else {
      <li>
        <a [routerLink]="['register']">Inscription</a>
      </li>
      <li>
        <a [routerLink]="['login']">Connexion</a>
      </li>
    }
  </ul>
</header>
